<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>Flowplan adds your task due dates to Calendar as events.</string>
    <key>SUEnableInstallerLauncherService</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/memfrag/Flowplan/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>AvJMcXvL9lwbU8D00Z9uECjR9zdeOlcsl7Rktg/hQVE=</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>io.apparata.flowplan</string>
            <key>UTTypeDescription</key>
            <string>Flowplan Plan</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.json</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>flowplan</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>io.apparata.flowplan.mermaid</string>
            <key>UTTypeDescription</key>
            <string>Mermaid Diagram</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.plain-text</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>mmd</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>io.apparata.flowplan.graphviz</string>
            <key>UTTypeDescription</key>
            <string>Graphviz DOT</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.plain-text</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>gv</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
